@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Medium.woff2") format("woff2"),
    url("../fonts/Navigo-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Regular.woff2") format("woff2"),
    url("../fonts/Navigo-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
